@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; } to { opacity:0.8; } }

@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; } to { opacity:0.8; } }

@keyframes fadeIn { from { opacity:0; opacity: 1\9; } to { opacity:0.8; } }

@-webkit-keyframes slowblur { from  { -webkit-filter: blur(0px); } to { -webkit-filter: blur(5px); } }

@-moz-keyframes slowblur { from  { -webkit-filter: blur(0px); } to { -webkit-filter: blur(5px); } }

@keyframes slowblur { from  { -webkit-filter: blur(0px); } to { -webkit-filter: blur(5px); } }
body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

.menu {
  font-weight: 100;
  background: #efefef;
  width: 170px;
  height: 100%;
  padding-left: 50px;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  right: -130px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  color: #222;
}
.menu:hover, .menu:focus {
  transform: translate3d(-130px, 0, 0);
  animation-timing-function: 1s ease-in;
}
.menu .title {
  top: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: rotate(270deg);
  left: 10px;
  font-weight: 800;
  font-size: 15px;
}
.menu .nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 100;
}
.menu .nav li {
  padding-bottom: 30px;
  list-style-type: none;
}
.menu .nav li a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.button {
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.expand .button {
  -webkit-transform: rotate(630deg);
          transform: rotate(630deg);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.menu .nav li a:hover {
  color: #aaa;
}

.intro {
  position: absolute;
  top: 30%;
  width: 45%;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-size: 45px;
  text-align: center;
  font-style: italic;
}


a {
    opacity: 0.8;
    color: #fcf6e3;
    cursor: pointer;
}

a p {
    color: transparent;
}

a:hover, a:hover p {
    opacity: 0.6;
    color: #fcf6e3;
    text-decoration: none;
}

.col-md-1, .col-xs-12 {
    text-align: center;
}

.col-md-12 {
    text-align: left;
}

body {
    overflow: hidden;
}

.container:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    transform: scale(1.07);
}
#home::before {
  display: block;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../assets/bg-4.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  opacity:0.6;
  background-position: center;
  width: 100%;
  height: 100%;

  -webkit-animation: slowblur 1s ease-in 1s forwards;
  -moz-animation: slowblur 1s ease-in 1s forwards;
  animation: slowblur 1s ease-in 1s forwards;
}
.container {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
}

.container.expand {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.17);
  border-radius: 0;
  width: 80%;
  height: 500px;
  max-width: 600px;
  padding: 0;
  -webkit-transition: all 0.2s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s, height 0.3s ease 0.25s;
  transition: all 0.2s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s, height 0.3s ease 0.25s;
}
.vcenter {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

h1, h3, p {
    font-family: 'Lato', sans-serif;

}

.bio {
    font-size: 12pt;
}

.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    animation-duration: 0.7s;
}

.fade-in.first {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

.fade-in.second {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.third {
-webkit-animation-delay: 1.0s;
-moz-animation-delay: 1.0s;
animation-delay: 1.0s;
}

.fade-in.fourth {
-webkit-animation-delay: 1.3s;
-moz-animation-delay: 1.3s;
animation-delay: 1.3s;
}

.fade-in.fifth {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
animation-delay: 1.5s;
}

.fade-in.sixth {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}
